* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgb(228, 227, 227);
}

header {
    background-color: white;
    vertical-align: middle;
    padding: 10px 20px;
    
}

img {
    vertical-align: middle;
}

h1 {
    display: inline-block;
    font-weight: bold;
    font-size: 50px;
    vertical-align: middle;
}

.wrapper {
    width: 50vw;
    margin: auto;
    background-color: white;
}

.wrapper#first {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.wrapper#second {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav, section {
    padding-left: 50px;
}

main {
    margin-top: 50px;
}

nav {
    margin-bottom: 2px;
}

nav :first-child {
    width: 70px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(100, 182, 237);
    color: white;
}

nav :last-child {
    width: 90px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid lightgrey;
    border-width: thin;
    border-radius: 5px;
    background-color: transparent;
    color: lightgrey;
}

ul {
    list-style: none;
}

.main-list {
    font-weight: bold;
    font-size: 25px;
    padding-top: 20px;
}

.sublist {
    padding: 10px 0;
}

.sublist#last-item {
    padding-bottom:30px;
}

.tick {
    font-size: 10px;
    color: limegreen;
    vertical-align: middle;
    text-align: center;
    line-height: 5px;
    width: 5px; 
    height: 5px;
    padding: 3px;
    border: 1px solid limegreen;
    border-radius: 50%;
  }

  .cross {
    font-size: 10px;
    color: red;
    vertical-align: middle;
    text-align: center;
    line-height: 5px;
    width: 5px; 
    height: 5px;
    padding: 3px;
    border: 1px solid red;
    border-radius: 50%;
  }

.task {
    border-radius: 10px;
    padding: 4px 8px;
    width: 90px;
    height: 30px;
    color: white;
    font-size: 12px;
}

.task.editorial {
    background-color: rgb(100, 182, 237);
}

.task#Q1 {
    background-color: rgb(124, 0, 124);
}

.task#recruiting {
    background-color: seagreen;
}

.task#mobile {
    background-color: orange;
}

.task#website {
    background-color: orchid;
}

.task#sales {
    background-color: yellowgreen;
}