* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid lightgrey;
}

img {
    vertical-align: middle;
}

h1 {
    display: inline-block;
}


main {
    background-color: grey;
}

